<div>
  <div>
    <div>
      <ol>
        <li>Create two components(manually or with CLI:WarningAlert & SuccessAlert)</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the component</li>
        <li>Style the components appropriately(may be red/green?)</li>
      </ol>
      <p>Use exteral or internal templates and styles!</p>
      <p>Feel free to create more components, and nest them into each other or play around with different types of selectors!</p>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>